{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": 2,
    "comma-spacing": [2, { "before": false, "after": true }],
    "consistent-return": 0,
    "curly": [2, "multi-line"],
    "default-case": 0,
    "dot-notation": 2,
    "eqeqeq": 2,
    "guard-for-in": 0,
    "max-len": [2, { "code": 120 }],
    "no-alert": 1,
    "no-caller": 2,
    "no-catch-shadow": 2,
    "no-console": 2,
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-delete-var": 2,
    "no-div-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-else-return": 0,
    "no-empty": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 0,
    "no-extra-bind": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 1,
    "no-func-assign": 2,
    "no-implied-eval": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 0,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 1,
    "no-octal-escape": 2,
    "no-process-env": 1,
    "no-proto": 2,
    "no-regex-spaces": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-sparse-arrays": 2,
    "no-script-url": 0,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-unreachable": 2,
    "no-var": 2,
    "no-shadow": 0,
    "no-shadow-restricted-names": 2,
    "no-undef": 0,
    "no-undef-init": 0,
    "no-undefined": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "no-void": 0,
    "no-warning-comments": 0,
    "no-with": 2,
    "quotes": [2, "single"],
    "radix": 2,
    "semi": 2,
    "strict": 0,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,
    "vars-on-top": 1,
    "wrap-iife": 2,
    "yoda": 2
  }
}
