language: generic
dist: trusty
sudo: false

git:
  depth: 10

os:
- linux
- osx

env:
  global:
    - APM_TEST_PACKAGES=""
    - ATOM_LINT_WITH_BUNDLED_NODE="true"

  matrix:
    - ATOM_CHANNEL=stable
    - ATOM_CHANNEL=beta

addons:
apt:
  packages:
  - build-essential
  - git
  - libgnome-keyring-dev
  - fakeroot

script:
  - curl -s -O https://raw.githubusercontent.com/atom/ci/master/build-package.sh
  - chmod u+x build-package.sh
  - ./build-package.sh

notifications:
  email:
    on_success: never
    on_failure: change
