# Add a pin/unpin option to the context menu of tabs.
'context-menu':
    '.tab:not(.pinned)': [{
            'label': 'Pin tab'
            'command': 'pinned-tabs:pin-selected'
        }]
    '.tab.pinned': [{
            'label': 'Unpin tab'
            'command': 'pinned-tabs:pin-selected'
        }]
