@import "icon-variables";

// - - - - - - - - - - - - - - -
// ICONS BASED ON FILE EXTENSION
// - - - - - - - - - - - - - - -

// FONT //
@font-face {
	font-family: 'icomoon';
	src: url('atom://pinned-tabs/styles/_fonts/icomoon.eot');
	src: url('atom://pinned-tabs//styles/_fonts/icomoon.eot') format('embedded-opentype'),
		 url('atom://pinned-tabs//styles/_fonts/icomoon.woff') format('woff'),
		 url('atom://pinned-tabs//styles/_fonts/icomoon.ttf') format('truetype'),
		 url('atom://pinned-tabs//styles/_fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// MIXIN //
.icon-tab( @extension: ''; @type: ''; @font: 20px; @top: 6px; @right: -3px; @left: -5px; @offset: -6px) {
    .tab-bar .tab .title[data-name$="@{extension}"] {
        &:after {
            /* Configure icon position */
            left: -38px;
            position: absolute !important;
            display: inline-block !important;
            width: 38px !important;
            text-align: center !important;
            top: 50% !important;
            transform: translate(0, -50%) !important;

            /* Configure the icon */
            color: ~"@{color-@{type}}" !important;
            content: "@{icon-@{type}}" !important;
            font-family: icomoon !important;
            font-size: @font !important;

            /* Configure icon transition */
            transition: opacity .3s ease,
                        left .3s ease !important;
        }
    }
}


// ICONS //

// CSS
.icon-tab('.css', css, 20px, 6px, -1px, -5px, -5px);

// CSON
.icon-tab('.cson', 'json', 20px, 6px, -3px, -5px, -4px);

// Handlebars
.icon-tab('.hbs', 'handlebars', 22px, 6px, 0px, -5px );
.icon-tab('.handlebars', 'handlebars', 22px, 6px, 0px, -5px );
.icon-tab('.hjs', 'handlebars', 22px, 6px, 0px, -5px );

// Hidden files
.icon-tab('.gitignore', 'hidden', 20px, 6px, -3px, -3px, -5px);
.icon-tab('.gitmodules', 'hidden', 20px, 6px, -3px, -3px, -5px);
.icon-tab('.config', 'hidden', 20px, 6px, -3px, -3px, -5px);
.icon-tab('.DS_Store', 'hidden', 20px, 6px, -3px, -3px, -5px);

// HTML
.icon-tab('.html', html, 22px, 6px);

// Jade
.icon-tab('.jade', 'jade', 20px, 5px, -3px, -5px, -5px);

// JavaScript
.icon-tab('.js', 'js', 20px, 6px, -3px, -5px, -5px);
.icon-tab('.es', 'js', 20px, 6px, -3px, -5px, -5px);
.icon-tab('.es6', 'js', 20px, 6px, -3px, -5px, -5px);

// Coffescript
.icon-tab('.coffee', 'coffee', 16px, 5px, 4px, 2px, -3px);

// JSON
.icon-tab('.json', 'json', 20px, 5px, -3px, -5px, -5px);

// React
.icon-tab('.jsx', 'jsx', 21px, 6px, -1px, -3px, -4px);
.icon-tab('.cjsx', 'jsx', 21px, 6px, -1px, -3px, -4px);

// LESS
.icon-tab('.less', less, 20px, 6px, -3px, -5px, -5px);

// LICENSE
.icon-tab('LICENSE', 'license', 15px, 3px, 2px, 0px, -2px);
.icon-tab('License', 'license', 15px, 3px, 2px, 0px, -4px);
.icon-tab('license', 'license', 15px, 3px, 2px, 0px, -4px);

// Markdown
.icon-tab('.md', 'md', 20px, 5px, -3px, -5px, -5px);

// Override for Markdown package
tabs-bar tabs-tab .title.icon-markdown[data-name*=".md"], .tab-bar .tab .title.icon-markdown[data-name*=".md"] {
	top: 0;
}

// Mustache
.icon-tab('.mustache', 'mustache', 22px, 6px, 0px, -5px );
.icon-tab('.mu', 'mustache', 22px, 6px, 0px, -5px );
.icon-tab('.stache', 'mustache', 22px, 6px, 0px, -5px );

// NPM
.icon-tab('npm-debug.log', 'npm', 20px, 6px, 0px, -5px, -4px);
.icon-tab('.npmignore', 'npm', 20px, 6px, 0px, -5px, -4px);

// PHP
.icon-tab('.php', 'php', 24px, 6px, -3px, -5px, -6px);

// Procfile
.icon-tab('procfile', 'procfile', 14px, 2px, 3px, 0px, 0px);
.icon-tab('Procfile', 'procfile', 14px, 2px, 3px, 0px, 0px);
.icon-tab('PROCFILE', 'procfile', 14px, 2px, 3px, 0px, 0px);

// Python
.icon-tab('.py', 'py', 20px, 5px, -3px, -5px, -5px);

// Ruby
.icon-tab('.rb', 'rb', 15px, 3px, -1px, -5px, -2px);

// Sass
.icon-tab('.sass', 'sass', 20px, 4px, -3px, -5px, -5px);
.icon-tab('.scss', 'sass', 20px, 4px, -3px, -5px, -5px);

// Settings
.icon-tab('.svgx', 'img', 15px, 3px, 4px, 0px, -3px);

// Stache
.icon-tab('.stache', 'stache', 22px, 6px, 0px, -5px );

// Stylus
.icon-tab('.styl', 'styl', 20px, 5px, -2px, -5px, -5px);

// TypeScript
.icon-tab('.ts', 'ts', 20px, 5px, -3px, -3px, -5px);

// XML
.icon-tab('.xml', 'xml', 15px, 2px, 3px, 0px, -2px);

// YML
.icon-tab('.yml', 'yml', 16px, 3px, 3px, 0px, -2px);
.icon-tab('.yaml', 'yml', 16px, 3px, 3px, 0px, -2px);

// Golang
.icon-tab('.go', 'go', 16px, 3px, 3px, -3px, -2px);

// Julia
.icon-tab('.jl', 'jl', 18px, 4px, 3px, -3px, -3px);

// EJS
.icon-tab('.ejs', 'ejs', 20px, 5px, -3px, -5px, -5px);

// Favicon
.icon-tab('.ico', 'ico', 18px, 4px, 3px, -2px, -4px);


// IMAGES
.icon-tab('.ai', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.bpm', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.gif', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.jpeg', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.jpg', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.png', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.psd', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.svg', 'img', 15px, 3px, 4px, 0px, -2px);
.icon-tab('.svgx', 'img', 15px, 3px, 4px, 0px, -2px);


// THESE NEED TO COME LAST SO THE DON'T GET OVERRIDEN!

// Bower
.icon-tab('bower.json', 'bower', 20px, 5px, 2px, -4px, -5px);
.icon-tab('Bower.json', 'bower', 20px, 5px, 2px, -4px, -5px);
.icon-tab('BOWER.json', 'bower', 20px, 5px, 2px, -4px, -5px);
.icon-tab('.bowerrc', 'bower', 20px, 5px, 2px, -4px, -5px);

// Grunt
.icon-tab('gruntfile.js', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('Gruntfile.js', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('GruntFile.js', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('GRUNTFILE.js', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('gruntfile.coffee', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('Gruntfile.coffee', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('GruntFile.coffee', 'grunt', 15px, 3px, 3px, 0px, -2px);
.icon-tab('GRUNTFILE.coffee', 'grunt', 15px, 3px, 3px, 0px, -2px);

// Gulp
.icon-tab('gulpfile.js', 'gulp', 20px, 6px, -3px, -5px, -3px);
.icon-tab('Gulpfile.js', 'gulp', 17px, 3px, -3px, -5px, -3px);
.icon-tab('GulpFile.js', 'gulp', 20px, 6px, -3px, -5px, -3px);
.icon-tab('GULPFILE.js', 'gulp', 20px, 6px, -3px, -5px, -3px);
.icon-tab('gulpfile.coffee', 'gulp', 20px, 6px, -3px, -5px, -3px);
.icon-tab('Gulpfile.coffee', 'gulp', 17px, 3px, -3px, -5px, -3px);
.icon-tab('GulpFile.coffee', 'gulp', 20px, 6px, -3px, -5px, -3px);
.icon-tab('GULPFILE.coffee', 'gulp', 20px, 6px, -3px, -5px, -3px);
