@import "../node_modules/file-icons/styles/file-icons";
@import "../node_modules/file-icons/styles/icons";

body.pinned-icons-colorless atom-pane-container atom-pane .tab-bar .tab.pinned .title:before {
	/* Force colorless icons */
	color: #FFF !important;
}

body.pinned-tabs-enable-tabanimation atom-pane-container atom-pane .tab-bar .tab {
    /* Add a transition for the size of the tab */
    transition: max-width .2s ease;
}

body.pinned-tabs-enable-iconanimation atom-pane-container atom-pane .tab-bar .tab .title:before,
body.pinned-tabs-enable-iconanimation atom-pane-container atom-pane .tab-bar .tab .title:after {
	transition: left .2s ease,
				margin .2s ease;
}
body.pinned-tabs-enable-iconanimation.pinned-tabs-enable-modified atom-pane-container atom-pane .tab-bar .tab.pinned.modified:hover .title:before {
	margin-left: 38px !important;
}
body.pinned-tabs-enable-modified atom-pane-container atom-pane .tab-bar .tab.pinned.modified:hover .title:after {
	left: 0 !important;
}

atom-pane-container atom-pane .tab-bar .tab.pinned .title:before {
	border-width: 0 !important;
    display: block !important;
	left: 0 !important;
	height: 100% !important;
	margin: 0 !important;
	text-align: center !important;
	top: 0 !important;
	transition: left .2s ease;
	width: 38px !important;
}
atom-pane-container atom-pane .tab-bar .tab.pinned .title:after {
	.octicons !important;
	background-color: transparent !important;
	content: "\f058" !important;
	height: 100% !important;
	left: -38px !important;
	margin: 0 !important;
	position: absolute !important;
	top: 0 !important;
	width: 38px !important;
}

atom-pane-container atom-pane .tab-bar .tab {
	/* Hides the icons when they're not inside the tab */
	overflow: hidden !important;
}
atom-pane-container atom-pane .tab-bar .tab.pinned {
	/* Make pinned tabs a fixed width */
	margin: 0;
	max-width: 38px;
	min-width: 38px;
    transition: max-width .3s ease;
	padding: 0;
	width: 38px !important;
}
atom-pane-container atom-pane .tab-bar .tab.pinned .title {
	padding: 0 !important;
	/* Hide the title of the tab */
	font-size: 0 !important;
	/* Make the title of the tab unclickable. Otherwise
	   in some themes the title will be pinned instead
	   of the tab */
	pointer-events: none !important;
}
atom-pane-container atom-pane .tab-bar .tab.pinned .close-icon {
    /* Disable events on the close-icon */
    pointer-events: none !important;
    /* Scale the close-icon to make it invisible */
	transform: scale(0) !important;
}
