.pinned {
    /* Make pinned tabs a fixed width */
    max-width: 38px !important;
    min-width: 38px !important;
}
.pinned .title {
    /* Hide the title of the tab */
    color: transparent;
}
.pinned .close-icon {
    /* Slighty change the position of the close-icon */
    padding-right: 13px !important;
    /* Disable events on the close-icon */
    pointer-events: none;
    /* Scale the close-icon to make it visible */
    transform: scale(1) !important;
    /* Add a transition for the color of the icon */
    transition: color .16s ease !important;
}
.pinned .close-icon::before {
    /* Set the close-icon to always be the 'modified' icon */
    content: "\f052" !important;
}
