.tab-bar.pinned-tabs-enable-tabanimation .tab {
    /* Add a transition for the size of the tab */
    transition: max-width .3s ease !important;
}
.tab-bar.pinned-tabs-enable-tabanimation .tab .title {
    /* Add transition for hiding the title of a pinned tab */
    transition: opacity .3s ease !important;
    /* The transition delay is there to make the unpin animation look smoother */
    -webkit-transition-delay: .025s !important;
}

.tab-bar.pinned-tabs-enable-iconanimation .tab .title::after {
    /* Add a transition for the icon of a pinned tab */
    transition: opacity .3s ease,
                left .3s ease !important;
}

.tab-bar .tab {
    /* Modify the tab width to improve the animation of the icon for a pinned tab */
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.tab-bar .tab .title {
    /* Modify the title width to improve the animation of the icon for a pinned tab */
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    width: 100% !important;

    /* Make the title of the tab unclickable. Otherwise
       in some themes the title will be pinned instead
       of the tab */
    pointer-events: none !important;
}

.tab-bar .pinned {
    /* Make pinned tabs a fixed width */
    margin: 0 !important;
    max-width: 38px !important;
    min-width: 38px !important;
    padding: 0 !important;
    width: 38px !important;
}
.tab-bar .pinned .title {
    /* Hide the title of the tab */
    font-size: 0 !important;
}
.tab-bar .pinned .title::before {
    /* Hide the title of the tab */
    font-size: 0 !important;
}
.tab-bar .pinned .title::after {
    left: 0 !important;
}
.tab-bar .pinned .close-icon {
    /* Disable events on the close-icon */
    pointer-events: none !important;
    /* Scale the close-icon to make it invisible */
    transform: scale(0) !important;
}
